.pai{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    
}

form{
    width: 780px;
    height: 400px;
    
}

label{
    
    display: block;
}

input{
    display: block;
}

button{
    display: block;
}

h2{
    display:block;
}